/* Pushy */

/*! Pushy - v1.1.0 - 2017-1-30
* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee */
/* Menu Appearance */
.pushy {
    position: fixed;
    width: 250px;
    height: 100%;
    top: 0;
    z-index: 9999;
    background: #ffffff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    /* enables momentum scrolling in iOS overflow elements */
  }
  .pushy a {
    display: block;
    padding: 15px;
    text-decoration: none;
    font-size: 14px;
    font-weight: normal;
  }
  .pushy .check li:hover {
    background-color: #eeeeee;
  }
  .pushy ul:first-child {
    margin-top: 0px;
  }
  .pushy.pushy-left {
    left: 0;
  }
  .pushy.pushy-right {
    right: 0;
  }
  
  .pushy ul {
      margin-left: 0;
      padding-left: 0;
  }
  
  .pushy-content {
    visibility: hidden;
  }
  
  .pushy-main li {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #cccccc;
  }
  
  /* Menu Movement */
  .pushy-left {
    -webkit-transform: translate3d(-250px, 0, 0);
    -ms-transform: translate3d(-250px, 0, 0);
    transform: translate3d(-250px, 0, 0);
  }
  
  .pushy-open-left #container,
  .pushy-open-left .push {
    -webkit-transform: translate3d(250px, 0, 0);
    -ms-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px, 0, 0);
  }
  
  .pushy-right {
    -webkit-transform: translate3d(250px, 0, 0);
    -ms-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px, 0, 0);
  }
  
  .pushy-open-right #container,
  .pushy-open-right .push {
    -webkit-transform: translate3d(-250px, 0, 0);
    -ms-transform: translate3d(-250px, 0, 0);
    transform: translate3d(-250px, 0, 0);
  }
  
  .pushy-open-left .pushy,
  .pushy-open-right .pushy {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .pushy-open-left .pushy-content,
  .pushy-open-right .pushy-content {
    visibility: visible;
  }
  
  /* Menu Transitions */
  #container,
  .pushy,
  .push {
    transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  }
  
  .pushy-content {
    transition: visibility 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  }
  
  /* Site Overlay */
  .site-overlay {
    display: none;
  }
  
  .pushy-open-left .site-overlay,
  .pushy-open-right .site-overlay {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9998;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-animation: fade 500ms;
    animation: fade 500ms;
  }
  
  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  /* Submenu Appearance */
  .pushy-submenu {
    /* Submenu Buttons */
    /* Submenu Icon */
    background-color: #ffffff;
    cursor: pointer;
  }
  .pushy-submenu ul {
    padding-left: 0;
    margin: 0;
    transition: max-height 0.2s ease-in-out, visibility 0.2s ease-in-out;
  }
  .pushy-submenu li {
      padding-left: 0px;
  }
  
  .pushy-main li:hover {
    background-color: #f2f2f2;
  }
  .pushy-submenu li:hover {
    background-color: #dedede;
  }
  .pushy-submenu ul .pushy-link {
    transition: opacity 0.2s ease-in-out;
  }
  .pushy-submenu button {
    width: 100%;
    color: #2a3052;
    padding: 20px 15px;
    text-align: left;
    background: transparent;
    border: 0;
    outline: none;
  }
  .pushy-submenu button:hover {
    background-color: #f2f2f2;
  }
  .pushy-submenu > a,
  .pushy-submenu > button {
    position: relative;
    font-size: 18px;
  }
  .pushy-submenu > a::after,
  .pushy-submenu > button::after {
    content: '';
    display: block;
    height: 11px;
    width: 8px;
    position: absolute;
    top: 50%;
    right: 15px;
    background: url("../images/arrow.svg") no-repeat;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: transform 0.2s;
  }
  
  /* Submenu Movement */
  .pushy-submenu-closed ul {
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
  }
  .pushy-submenu-closed .pushy-link {
    opacity: 0;
  }
  .pushy-submenu-open ul {
    max-height: 1000px;
    visibility: visible;
  }
  .pushy-submenu-open .pushy-link {
    opacity: 1;
  }
  .pushy-submenu-open a::after,
  .pushy-submenu-open button::after {
    -webkit-transform: translateY(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg);
  }
  .pushy-menu-btn {
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    text-shadow: 0px 0px 1px #000000;
    background-color: transparent;
    outline: none;
    border: 0;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
  }
  .pushy-menu-btn:hover {
    color: #ffffff;
  }
  .btn:focus, button:focus {
    outline: none;
    border: none;
  }
  .pushy-menu-btn img {
    width: 30px;
    max-width: 30px;
    margin-top: 0px;
  }
  .header-stack {
    position: fixed;
    top: 0;
    width: 100%;
    display: none;
    z-index: 9990;
    padding: 0;
    background-color: #2A3052;
  }
  .pushy-header {
    padding: 20px;
    font-size: 14px;
    text-align: center;
    background-color: #2A3052;
    color: #ffffff;
    border-bottom: 1px solid #dedede;
  }
  .pushy-header a {
      color: #ffffff !important;
  }
  .pushy-header #langSelect {
      margin: 30px 0;
  }
  .stack-separator {
    height: 120px;
    display: none;
  }
  .shadow {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
  
  @media screen and (max-width: 768px) {
    #MainNav, .binary-header {
      display: none;
    }
    .header-stack, .stack-separator {
      display: block;
    }
  }